/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
  margin: 0px;
  padding: 0px;
}
nav{
  padding: 2px;
  height: 50px;
  background-color: purple;
  color: white;
  box-sizing: border-box;
}
.header-button{
  font-size: large;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.container{
  font-size: 20px;
  display:flex ;
  align-items: center;
  justify-content: space-between;
}
.my-image{
  max-width: 350px;
  height: auto;
  margin-right: 20px;
}
.intro{
  color: purple;
  flex: 1;
  padding-left: 20px;
}
.footer{
  padding: 2px;
  height: 50px;
  background-color: purple;
  color: white;
}
.footer-content{
  margin-top: 15px;
}
li{
  color: white;
}